function Main.main 0
push constant 0
push constant 230
push constant 511
push constant 230
call Screen.drawLine 4
pop temp 0
push constant 0
push constant 229
push constant 511
push constant 229
call Screen.drawLine 4
pop temp 0
push constant 0
push constant 228
push constant 511
push constant 228
call Screen.drawLine 4
pop temp 0
push constant 0
push constant 227
push constant 511
push constant 227
call Screen.drawLine 4
pop temp 0
push constant 22
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 1
call String.new 1
push constant 62
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
