function Spike.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push argument 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 360
push constant 15
sub
pop this 0
push constant 100
pop this 1
push constant 180
pop this 2
goto IF_END0
label IF_FALSE0
push constant 151
pop this 0
push constant 100
pop this 1
push constant 90
pop this 2
label IF_END0
push constant 2
pop this 3
push constant 3
pop this 4
push pointer 0
return
function Spike.getX 0
push argument 0
pop pointer 0
push this 0
return
function Spike.getY 0
push argument 0
pop pointer 0
push this 1
return
function Spike.getSP 0
push argument 0
pop pointer 0
push this 3
return
function Spike.setSpike 0
push argument 0
pop pointer 0
push argument 1
pop this 3
push constant 0
return
function Spike.setSpd 0
push argument 0
pop pointer 0
push argument 1
pop this 4
push constant 0
return
function Spike.draw 2
push argument 0
pop pointer 0
label WHILE_EXP0
push local 0
push this 3
lt
not
if-goto WHILE_END0
push argument 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push constant 15
add
push this 1
push local 1
add
push this 0
push this 1
push constant 5
add
push local 1
add
call Screen.drawLine 4
pop temp 0
push this 0
push this 1
push constant 5
add
push local 1
add
push this 0
push constant 15
add
push this 1
push constant 10
add
push local 1
add
call Screen.drawLine 4
pop temp 0
goto IF_END0
label IF_FALSE0
push this 0
push this 1
push local 1
add
push this 0
push constant 15
add
push this 1
push constant 5
add
push local 1
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 15
add
push this 1
push constant 5
add
push local 1
add
push this 0
push this 1
push constant 10
add
push local 1
add
call Screen.drawLine 4
pop temp 0
label IF_END0
push local 1
push constant 10
add
pop local 1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Spike.move 2
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
label WHILE_EXP0
push local 0
push this 3
lt
not
if-goto WHILE_END0
push argument 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push constant 15
add
push this 1
push local 1
add
push this 0
push this 1
push constant 5
add
push local 1
add
call Screen.drawLine 4
pop temp 0
push this 0
push this 1
push constant 5
add
push local 1
add
push this 0
push constant 15
add
push this 1
push constant 10
add
push local 1
add
call Screen.drawLine 4
pop temp 0
goto IF_END0
label IF_FALSE0
push this 0
push this 1
push local 1
add
push this 0
push constant 15
add
push this 1
push constant 5
add
push local 1
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 15
add
push this 1
push constant 5
add
push local 1
add
push this 0
push this 1
push constant 10
add
push local 1
add
call Screen.drawLine 4
pop temp 0
label IF_END0
push local 1
push constant 10
add
pop local 1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 1
push constant 20
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 180
pop this 2
label IF_FALSE1
push this 1
push this 3
push constant 25
add
add
push constant 240
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 90
pop this 2
label IF_FALSE2
push this 2
push constant 90
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 1
push this 4
sub
pop this 1
goto IF_END3
label IF_FALSE3
push this 1
push this 4
add
pop this 1
label IF_END3
push constant 0
return
